.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
}

.meetVideoContainer > .meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 0;
  border-radius: 20px;
}

.conferenceView {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  padding: 10px;
}

.conferenceView video {
  width: 40vw;
  min-width: 30vw;
  border-radius: 10px;
  padding: 10px !important;
  height: 20vh;
}

.buttonContainer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}
.chatRoom {
  position: absolute;
  height: 90vh;
  right: 0;
  width: 30vh;
  background-color: white;
  border-radius: 10px;
  /* bottom: 10px; */
  padding-inline: 20px;
}
.chatContainer {
  position: relative;
  height: 100%;
}
.chattingArea {
  position: absolute;
  bottom: 0;
}

.chattingDisplay {
  height: 70vh;
  overflow-y: auto;
}
